<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>638838664523-6n8nve3vs0g4o8r2mb5ub93g7nh8sgjq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.638838664523-6n8nve3vs0g4o8r2mb5ub93g7nh8sgjq</string>
	<key>API_KEY</key>
	<string>AIzaSyBeSft0kgMvvGFAqr6S1OEas-bU6dCjRmU</string>
	<key>GCM_SENDER_ID</key>
	<string>638838664523</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.friendlyFaces</string>
	<key>PROJECT_ID</key>
	<string>friendly-faces-29a8d</string>
	<key>STORAGE_BUCKET</key>
	<string>friendly-faces-29a8d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:638838664523:ios:ade256827672ae47aeccce</string>
</dict>
</plist>